.projects-container {
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 5%;
  overflow-x: hidden !important;
}

@media (max-width: 990px) {
  .projects-container {
    padding-left: 0%;
    padding-right: 0%;
    overflow-x: hidden !important;
  }
  .card-img {
    max-height: 300px;
  }
  
}

.project-link {
  text-decoration: underline !important;
  color: #1871ff !important;
}

.project-link:hover {
  color: #000000 !important;
}

.project-card {
  opacity: 100%;
  background-color: #fffbef;
  border: #fffbef;
}

.card-title {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1.6em;
  color: #000000;
  text-align: left;
  text-decoration: none;
}

.card-second-title {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  color: #000000;
  text-align: left;
}

.card-text {
  font-size: 1em;
}

.card-img {
  object-fit: cover !important;
}

