.big_name {
  padding-left: 0%;
  padding-bottom: 8%;
  margin-top: 5%;
}

.triangle {
  float: right;
  padding: 0 !important;
  width: 10%;
  min-width: 100px;
  height: auto;
}



.welcomepara {
  overflow: auto;


}

.profile_picture {
  width: 100%;
  max-width: 400px;


}

.blueline {
  display: none;
}

.containerpadding {
  padding-left: 3% !important;
  margin: 0 !important;
}

@media only screen and (max-width: 600px) {
  .big_name {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }

  .profile_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: none !important;
    padding-right: none !important;
    max-width: 90%;
  }

  .triangle {
    display: none;
  }

  .blueline {
    display: block;
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    border-top: 30px solid #1776F3;
  }
}

@media (min-width: 770px) {
    .container{
        max-width: 95%;
    }
    .col-md-8
    {
      max-width: 90%;
    }
}
